.main-where-container{
    position: relative;
    background-color:#F1F5F8;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height:auto;
    width:100%;
    min-width: 100%;
    padding-bottom: 25px;
    margin-top:15px;
}
.main-where-search-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}
/* WHERE MAP STYLES ============================================== */

.where-map-list-container{
    display: flex;
    justify-content:flex-end;
    flex-wrap: wrap-reverse;
    width:100%;
    height:auto;
    margin-top:20px;
}
.map-container{
    width: 60vw;
    height: 70vh;
    min-width: 530px;
    min-height: 40vh;
    position: relative;
    margin-right:5vw;
    /* look here */
    /* display:none; */
}
.where-maplist-container{
    width:30vw;
    height: 70vh;
    min-width: 300px;
    overflow:hidden;
    margin-right:10px;
    /* look here */
    /* display:none */
}
.where-maplist-container:hover{
    overflow-y:scroll;
    width:calc(30vw + 10px);
}

/* WHERE SEARCH BAR STYLES==================================== */
.where-search-bar{
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width:60vw;
    min-width:350px ;
    height: 350px;
    background-color: #DAE1E7;
    color:#DE751F;
    margin-right:5vw;
    position: relative;
    border-radius: 5px;

}
.where-search-bar .search-materials input {
    width:350px;
}
.search-materials{
    margin:0 5px 0 20px;
    z-index: 1;
    max-height: 80vh;
}
.search-materials h6{
    font-size: 25px;
}

.where-search-bar #where-search-btn {
    position: relative;
    color:#DE751F;
    top: 16px;
    font-size: 18px;
    padding: 17px;
    margin-left: 15px;
}
.where-search-bar #where-search-btn:hover{
    border-color: #DE751F;
}
.where-header{
    background-color:#4799c2;
    width:60vw;
    min-width: 350px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;

}
.where-header h1{
    font-size: 28px;
    font-weight: 300;
    color:white;
    padding:20px;
    min-width: 350px;
    max-width: 100%;
    margin:0;
    letter-spacing: 5px;
}

/* WHERE MATERIAL SEARCH TYPE AHEAD STYLES========================== */
.material-typeAhead{
    margin: 0 ;
    padding: 0;
    position: relative;
    max-height:100vh;
    overflow:scroll;
    z-index: 1;
}

.material-typeAhead li{
    background: white;
    list-style: none;
    color:#1769aa;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    width:340px;
    margin:0 5px 0 5px;
    padding: 20px;
    transition: background 0.2s;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    cursor: pointer;

}
.material-typeAhead li:hover{
    font-size:110%;
    border:solid 0.5px #1769aa;
    background-color: #1769aa;
}
.search-materials{
    overflow:scroll;

}
.material-typeAhead::-webkit-scrollbar {
     width: 1px;
     background: transparent;
     /* make scrollbar
     transparent */
}

.material-typeAhead li:nth-child(even){
    transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
    background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
}
.material-typeAhead li:nth-child(odd){
    transform: perspective(100px) rotateX(-3deg) translateY(3px);
      background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
}

/* WHERE FULL LIST STYLES===================================== */
.where-full-list-container{
    width:60vw;
    height: 70vh;
    min-width: 530px;
    overflow: hidden;
    margin-right:5vw;
    /* look here */
    /* display:none */
}
.where-full-list-container:hover{
    overflow-y:scroll;
    width:calc(60vw + 10px);
    transform: translateX(10px);
}
.where-scroll-bar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
    border-radius: 10px;
    margin-top:5px;
}
.where-scroll-bar::-webkit-scrollbar
{
	width: 10px;
    background-color: #F5F5F5;
}
.where-scroll-bar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    border:none;
	background-color: #f5f5f5;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#4D9C41),
									   to(#19911D),
									   color-stop(.6,#54DE5D))
}

/* WHERE SUB HEADER STYLES===================================== */

.where-sub-container{
    width:60vw;
    min-width:350px ;
    height: auto;
    max-height: 200px;
    background-color: #DAE1E7;
    color:#cd6b72;
    position: relative;
    border-radius: 5px;
    margin-right: 5vw;

}
.where-sub-head{
    background-color:#4799c2;
    width:100%;
    min-width: 350px;
    border-radius: 5px;
    text-align: center;
}
.where-sub-head h3{
    font-size: 18px;
    font-weight: 300;
    color:white;
    padding:10px;
    width: 98%;
    letter-spacing: 3px;
}
.where-sub-btns{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height:70px;
}


/* QUICK SEARCH BAR STYLES ============================================= */
.quick-search-bar-container{
    width:25vw;
    height:42vh;
    min-width: 150px;
    margin-left:40px;
}
.quick-search-bar-container h1{
    background-color: #4799c2;
    font-size: 28px;
    font-weight: 300;
    color:white;
    padding:20px 0;
    width:100%;
    max-width: 100%;
    min-width: 282px;
    margin:0;
    letter-spacing: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}

.quick-search-form{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    min-width: 282px;
    max-height: 100%;
    overflow:scroll;
    background-color: #DAE1E7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.quick-search-form:hover{
    overflow-y: scroll;
}
/* ===========WHERE PROGRAMS STYLES=====================*/
.where-program-container{
    width:60vw;
    height: 70vh;
    min-width: 530px;
    overflow: hidden;
    margin-right:5vw;

}
.where-program-container:hover{
    overflow-y:scroll;
    width:calc(60vw + 10px);
    transform: translateX(10px);
}
.where-scroll-bar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
    border-radius: 10px;
    margin-top:5px;
}
.where-scroll-bar::-webkit-scrollbar
{
	width: 10px;
    background-color: #F5F5F5;

}
.where-scroll-bar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    border:none;
	background-color: #f5f5f5;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#4D9C41),
									   to(#19911D),
									   color-stop(.6,#54DE5D))
}
@media(max-width:1000px){
    .main-where-search-container{
        display: block;
        margin:0 auto;
    }
    .quick-search-bar{
        display: none;
    }
    .main-where-container{
        align-items: center;
    }
    .where-search-bar{
        width:80%;
        margin:10px auto;
        height:400px;
    }
    .where-header{
        width:100%;
    }
    .where-header h1{
        font-size:1.3em;
    }
    .where-sub-container{
        width:80vw;
        margin:0 auto;
    }

    .map-container{
        max-width: 100%;
        width:100%;
        min-width: 300px;
        left:16px;
    }
    .where-maplist-container{
        display: none!important;
    }
    .where-map-list-container{
        width:80%;
        flex-direction: column;
        align-items: center;
    }
    .where-search-bar #where-search-btn{
        margin-bottom: 15px;
    }
    .where-full-list-container{
        width:100%;
        min-width: 300px;
        margin: 5px auto;
    }
    .where-program-container{
        width:100%;
        min-width: 300px;
        margin: 5px auto;
    }
    .where-full-list-container:hover{
        overflow-y:scroll;
        width:100%;
        transform: translateX(5px)
    }
    .where-program-container:hover{
        overflow-y:scroll;
        width:100%;
        transform: translateX(5px)
    }

}

@media(max-width:500px){

    .main-where-search-container{
        min-width: 300px;
        max-width: 100%;
    }
    .where-search-bar{
        margin:0;
        width:100%;
        min-width: 300px;
        position: relative;
        flex-wrap:wrap;
        max-height:400px;
        margin-top:5px;
        overflow-y:scroll;
    }
    .where-header{
        display: none;
    }

    .search-materials{
        margin:24px 0 0 16px;
        display: block;
        overflow-y:scroll;
        width:100%
    }
    .search-materials h6{
        font-size:1.2em;
    }
    .where-search-bar .search-materials input{
        width:250px;
    }
    .where-search-bar #where-search-btn {
       position: relative;
       bottom: 20px;
       right:14px;
       height: 60px;
       margin-bottom: 15px;
    }
    #search-materials{
       max-height:200px;
    }
    .material-typeAhead li{
       max-height: 300px;
       overflow-y:scroll;
       width: 75%;
    }

    .where-map-list-container{
        width:100%;
        margin-top: 10px;
    }
    .where-sub-head{
        display: none;
    }
    .where-sub-container{
        width:100%;
        margin: 20px 0 10px 0;
        height: 300px;
        display: block;
        min-width: 300px;
    }

    .map-container{
        margin:0;
        width:100%;
        min-width: 300px;
        left:5px;
    }
    .where-sub-btns{
        flex-direction: column;
        height:100%;
        align-items: stretch;
        width:89%;
        margin:0 auto;

    }
    #sub-head-wrap{
        width: 100%;
    }


}