body{
    background-color:#F1F5F8;
    width:100vw;
    min-width: 100vw;
    max-width: 100vw;
}
.App{
    background-color: #F1F5F8;
}


@media (max-width:500px){

 .App{
        max-width: 90vw;
        min-width: 90vw;
        margin:auto;
        background-color: #F1F5F8;
    }
}