
nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height:100px;
    width:100%;
    min-width: 300px;
    padding-bottom:10px;
    background-color:#DAE1E7  ;
    z-index: 3;
}
 a {
    color:inherit;
    text-decoration: none;
}
.nav-links-wrapper{
    width:auto;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    height: 70%;
    position: relative;
    top:25px;
}
.nav-links-wrapper ul {
    display:flex;
    justify-content: space-between;
    width:40vw;
    list-style-type: none;
    /* margin-right: 10px; */
}
.nav-links-wrapper ul li{
    font-size:2em;
    color:#DE751F;
    border-bottom: 3px solid transparent;
    /* margin-right:20px; */
}

.nav-links:hover{
    border-bottom: solid 3px #DE751F;
    transform: translateY(-1px);
}
.nav-links{
    display: flex;
    align-items: center;
    color:#1F9D55;
    position: relative;
    border-bottom: 3px solid transparent;
}


.sub-nav{
    background-color: #B8C2CC;
    height:45px;
    width:100%;
    position: relative;
    overflow: hidden;
    border-bottom: #606F7B solid .5px;
}
.sub-nav ul{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    list-style-type: none;
    width:100%;
    margin:0 10px;
}
.sub-nav ul li{
    margin-right:20px;
    color:#3D4852;
    font-size:1.8em;
    padding:10px;
}
.sub-nav ul li:hover{
    background-color: #606F7B;
    color:#B8C2CC;
    transition: .4s;
}
.sub-nav ul a{
    color:inherit;
    text-decoration: none;
}
.sub-nav ul button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
.sub-nav ul button:focus{
    outline:none;
}
.sub-nav ul button:active {
    transform: translateY(1px);
    filter: saturate(150%);
  }
#users-btn{
    /* padding:10px; */
    color:#3D4852;
}
#users-btn:hover{
    background-color: #606F7B;
    color:#B8C2CC;
    /* transition: .1s; */
}
#myThings-li{
color:inherit;
background-color: inherit
}
.nav-title-wrapper{
    display:flex;
    align-items: flex-end;
    margin-left:20px;
}

.nav-logo{
    height:50px;
    width:50px;

}
#nav-title{
    font-size: 3.5em;
    color:#DE751F;

}
.nav-title-wrapper:hover{
    transform: translateY(-1px);
}
.nav-links{
    display: none;
  }

.dropdown-menu-nav-links{
height:auto;
width:100%;
min-width: 300px;
background-color: #B8C2CC;
position: relative;
}
#dropdown-ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 20px;
    height:45px;
    overflow: hidden;
}
.dropdown-nav-links li{
    color:#3D4852;
    font-size: 1.8em;
    cursor: pointer;
    padding:10px;
}
.dropdown-nav-links li:hover{
    background-color: #606F7B;
    color:#B8C2CC;
    transition: .4s;
}


/* ===========CURRENT PRICES TICKER STYLES================= */
.nav-green{
    color:#1F9D55;
    font-size:40px;
}
.nav-red{
    color:#ff1744;
    font-size:40px;
}

  section > ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  section > ul[data-length="1"] {
    top: 40px;
    width: 100%;
    animation-name: news-1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-delay: .1s;
  }
  .news {
    font-weight: 400;
    height: 20px;
    line-height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color:#3D4852;
    font-size: 1.5em;
    padding: 5px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  @keyframes news-1 {
    0% {
      top: 43px;
      visibility: visible;
    }
    10%{
        top:0px;
    }
    15%{
        top:0px;
    }
   50%{
       top:0px;
   }
   89%{
       top:0px;
   }

    99% {
      top: -45px;
      visibility: hidden;
    }
    100% {
      top: 43px;
      visibility:hidden;
    }
  }
/* ////////MEDIA KEYS STYLES///////////// */
@media(min-width:1000px){
    .nav-links{
        display: flex;
      }
     .nav-menu-btn{
         display:none;
     }
     .dropdown-menu-nav-links{
         display:none
     }
     .sub-nav ul{
        justify-content: flex-end;
        margin-right:5px;
    }
    .sub-nav ul li{
        margin-right:20px;
    }
    .sub-nav{
        border:none;
    }
    #users-btn{
        position: absolute;
        padding:5px;
        left:10px;
        color:#3D4852;
        text-align: center;
    }
    section {
        position: absolute;
        right: 10px;
        top:15px;
        width: 480px;
        height: 35px;
        overflow: hidden;
      }

}

@media (max-width:999px){
    section {
        display: none;

      }

}

@media (max-width:500px){

    .sub-nav{
        height: auto;
        border: none;
        min-width: 300px;
    }
    .sub-nav ul{
        display: block;
    }
    #dropdown-ul{
        display: block;
        overflow: visible;
        margin-left:12px;
        width:94%;
    }
    .dropdown-menu-nav-links{
        height: 150px;
    }
    .nav-logo{
        height:40px;
        width:40px;

    }
    #nav-title{
        font-size: 2.7em;
        color:#DE751F;

    }
}